<article class="post">
    <div class="title">
        <h3>{{title}}</h3>
        <p>{{post}}</p>
        <a href="{{reference_url}}" target="_blank">({{reference_url}})</a>
    </div>
    <div class="meta">
        {{vote_count}} point(s) by {{user.username}} on
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
    </div>
</article>